#web-form .form-section {
    box-shadow: none;
}

.datepicker {
    background-color: white;
}

.frappe-control:not([data-fieldtype='MultiSelectPills']):not([data-fieldtype='Table MultiSelect']).has-error input {
    border-width: 1px;
    border-color: #C8CFD5;
    border-style: none none solid;
}

.page-header {
    padding-top: 30px;
}