{% extends "templates/web.html" %}

{% block title %}{{ _("My Account") }}{% endblock %}
{% block header %}<h2>{{ _("My Account") }}</h2>{% endblock %}

{% block page_content %}
<div class="your-account-info">
    <div class="form-page">
        <form id="maj-mon-compte">
        <div class="row form-section visible-section">
            <div class="section-head">
                Compte utilisateur: {{ contact.salutation }} {{ contact.first_name }} {{ contact.last_name }}
                <span class="ml-2 collapse-indicator mb-1" style="display: none;">
                </span>
            </div>
            <div class="section-body">
                <div class="form-column col-sm-12">
                    <div class="frappe-control input-max-width has-error" data-fieldtype="Data" data-fieldname="email">
                        <div class="form-group">
                            <div class="clearfix"> <label class="control-label reqd"
                                    style="padding-right: 0px;">Email</label> </div>
                            <div class="control-input-wrapper">
                                <div class="control-input"><input type="text" autocomplete="off"
                                        class="input-with-feedback form-control bold" maxlength="140"
                                        data-fieldtype="Data" data-fieldname="email" placeholder="" value="{{ user.email }}"></div>
                                <div class="control-value like-disabled-input bold" style="display: none;">null</div>
                                <p class="help-box small text-muted"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-section visible-section">
            <div class="section-body">
                <div class="form-column col-sm-12">
                        <div class="frappe-control input-max-width has-error" data-fieldtype="Data"
                            data-fieldname="adresse1">
                            <div class="form-group">
                                <div class="clearfix">
                                    <label class="control-label reqd" style="padding-right: 0px;">Adresse Ligne 1</label>
                                </div>
                                <div class="control-input-wrapper">
                                    <div class="control-input"><input type="text" autocomplete="off"
                                            class="input-with-feedback form-control bold" maxlength="140"
                                            data-fieldtype="Data" data-fieldname="address_line1" placeholder="" value="{{ address.address_line1 }}"></div>
                                    <div class="control-value like-disabled-input bold" style="display: none;">null</div>
                                    <p class="help-box small text-muted"></p>
                                </div>
                            </div>
                        </div>
                        <div class="frappe-control input-max-width" data-fieldtype="Data" data-fieldname="adresse2">
                            <div class="form-group">
                                <div class="clearfix">
                                    <label class="control-label" style="padding-right: 0px;">Adresse Ligne 2</label>
                                </div>
                                <div class="control-input-wrapper">
                                    <div class="control-input"><input type="text" autocomplete="off"
                                            class="input-with-feedback form-control" maxlength="140" data-fieldtype="Data"
                                            data-fieldname="address_line2" placeholder="" value="{% if address.address_line2 %}{{ address.address_line2 }}{% endif %}">
                                    </div>
                                    <div class="control-value like-disabled-input" style="display: none;">null</div>
                                    <p class="help-box small text-muted"></p>
                                </div>
                            </div>
                        </div>
                        <div class="frappe-control input-max-width has-error" data-fieldtype="Data"
                            data-fieldname="codepostal">
                            <div class="form-group">
                                <div class="clearfix">
                                    <label class="control-label reqd" style="padding-right: 0px;">Code Postal</label>
                                </div>
                                <div class="control-input-wrapper">
                                    <div class="control-input"><input type="text" autocomplete="off"
                                            class="input-with-feedback form-control bold" maxlength="140"
                                            data-fieldtype="Data" data-fieldname="pincode" placeholder="" value="{{ address.pincode }}">
                                    </div>
                                    <div class="control-value like-disabled-input bold" style="display: none;">null</div>
                                    <p class="help-box small text-muted"></p>
                                </div>
                            </div>
                        </div>
                        <div class="frappe-control input-max-width has-error" data-fieldtype="Data" data-fieldname="ville">
                            <div class="form-group">
                                <div class="clearfix"> <label class="control-label reqd"
                                        style="padding-right: 0px;">Ville</label> </div>
                                <div class="control-input-wrapper">
                                    <div class="control-input"><input type="text" autocomplete="off"
                                            class="input-with-feedback form-control bold" maxlength="140"
                                            data-fieldtype="Data" data-fieldname="city" placeholder="" value="{{ address.city }}">
                                    </div>
                                    <div class="control-value like-disabled-input bold" style="display: none;">null</div>
                                    <p class="help-box small text-muted"></p>
                                </div>
                            </div>
                        </div>
                        <div class="frappe-control input-max-width has-error" data-fieldtype="Data"
                            data-fieldname="telephone">
                            <div class="form-group">
                                <div class="clearfix"> <label class="control-label reqd"
                                        style="padding-right: 0px;">Téléphone Fixe</label> </div>
                                <div class="control-input-wrapper">
                                    <div class="control-input"><input type="text" autocomplete="off"
                                            class="input-with-feedback form-control bold" maxlength="140"
                                            data-fieldtype="Data" data-fieldname="phone" placeholder="" value="{% if contact.phone %}{{ contact.phone }}{% endif %}"></div>
                                    <div class="control-value like-disabled-input bold" style="display: none;">null</div>
                                    <p class="help-box small text-muted"></p>
                                </div>
                            </div>
                        </div>
                        <div class="frappe-control input-max-width has-error" data-fieldtype="Data"
                            data-fieldname="telmobile">
                            <div class="form-group">
                                <div class="clearfix"> <label class="control-label reqd"
                                        style="padding-right: 0px;">Téléphone Mobile</label> </div>
                                <div class="control-input-wrapper">
                                    <div class="control-input"><input type="text" autocomplete="off"
                                            class="input-with-feedback form-control bold" maxlength="140"
                                            data-fieldtype="Data" data-fieldname="mobile_no" placeholder="" value="{% if contact.mobile_no %}{{ contact.mobile_no }}{% endif %}"></div>
                                    <div class="control-value like-disabled-input bold" style="display: none;">null</div>
                                    <p class="help-box small text-muted"></p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-maj">Modifier mes données</button>
        </div>
        </form>
    </div>
</div>
<div class="row d-block d-sm-none">
    <div class="col-12">
        <ul class="list-group mobile-sidebar">
            {% for item in sidebar_items -%}
                <a class="list-group-item" href="{{ item.route }}"
                    {% if item.target %}target="{{ item.target }}"{% endif %}>
                    {{ _(item.title or item.label) }}
                </a>
            {%- endfor %}
        </ul>
    </div>
</div>
{% endblock %}